{% extends 'authapp/base_register.html' %}
{% load static %}

{% block content %}
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                        <div class="login-brand">
                            <img src="{% static 'assets/img/stisla-fill.svg' %}" alt="logo" width="100"
                                 class="shadow-light rounded-circle">
                        </div>
                        <div class="card card-primary">
                            <div class="card-header"><h4>Регистрация</h4></div>
                            <div class="card-body">
                                <form method="POST" action="{% url 'auth:register' %}">
                                    {% csrf_token %}
                                    {% if next %}
                                        <input type="hidden" name="next" value="{{ next }}">
                                    {% endif %}
                                 {{ form.as_p }}
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="agree" class="custom-control-input" id="agree">
                                            <label class="custom-control-label" for="agree">I agree with the terms and
                                                conditions</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                                            Регистрация
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="simple-footer">
                            Copyright &copy; Logo 2022
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}