{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="main-register">
        <form class="form-register" action="{% url 'auth:register' %}" method="post">
        <div class="main-h">
            Регистрация
        </div>
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            {{ form.as_p }}
            <input type="submit" class="form-control btn-register" value="Зарегистрироватся">
         <button class="btn-register__sign">
            <a href="{% url 'auth:login' %}" class="">
                Войти
            </a>
        </button>
        </form>

    </div>

{% endblock %}