{% extends 'mainapp/new_base.html' %}
{% load static %}

{% block content %}
    <section class="section">
        <div class="section-header">
            <h1>Автор
                {% if post.user.pk == user.pk %}
                    <a href="{% url 'auth:profile' %}">{{ post.user.username }}</a>
                {% else %}
                    <a href="{% url 'auth:user_profile' post.user.pk %}">{{ post.user.username }}</a>
                {% endif %}
            </h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="{% url 'main' %}">Главная</a></div>
                <div class="breadcrumb-item">Хаб</div>
            </div>
        </div>
        <div class="">
            <article class="article article-style-c">
                <div class="article-header">
                    {% if not post.image.url %}
                        <div class="article-image" data-background="{% static 'assets/img/news/img13.jpg' %}">
                    {% else %}
                        <div class="article-image" data-background="/media/{{ post.image }}">
                    {% endif %}
                    </div>
                    </div>
                    <div class="article-details">
                        <div class="article-category"><a href="#">{{ post.category.name }}</a>
                            <div class="bullet"></div>
                            <a href="#">{{ post.created_at.date }}
                                в {{ post.created_at.time.hour }}:{{ post.created_at.time.minute }}</a></div>
                        <div class="article-title">
                            <h2><a href="{% url 'posts:post_detail' post.pk %}">{{ post.title }}</a></h2>
                        </div>
                        <p >
                            {{ post.body|safe }}</p>
                        <div class="article-user">
                            {% if post.user.avatar %}
                                <img alt="image" src="/media/{{ post.user.avatar }}" style="width: 45px;height: 45px;">
                            {% else %}
                                <img alt="image" src="{% static 'assets/img/avatar/avatar-1.png' %}">
                            {% endif %}
                            <div class="article-user-details">
                                <div class="user-detail-name">
                                    {% if post.user.pk == user.pk %}
                                        <a href="{% url 'auth:profile' %}">{{ post.user.username }}</a>
                                    {% else %}
                                        <a href="{% url 'auth:user_profile' post.user.pk %}">{{ post.user.username }}</a>
                                    {% endif %}

                                </div>
                                {% if post.user.specialization %}
                                    <div class="text-job">{{ post.user.specialization }}</div>
                                {% else %}
                                    <div class="text-job"></div>
                                {% endif %}
                            </div>

                        </div>
                    {% include 'mainapp/includes/inc_icons_list.html' %}
                    </div>
                </div>
                {% if user.is_staff %}
                <div class="buttons">
                    {% if not post.is_moderated %}
                        <a href="{% url 'posts:post_moderate' post.pk 'ok' %}" class="btn btn-primary">Прошел модерацию</a>
                    {% endif %}
                    <a href="{% url 'posts:post_moderate' post.pk 'bad' %}" class="btn btn-danger">Не прошел модерацию</a>
                </div>
                {% endif %}
            </article>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ comment_title }}</h4>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if next %}
                                <input type="hidden" name="next" value="{{ next }}">
                            {% endif %}
                            {{ form.media }}
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-primary add-comment" value="Сохранить" style="margin-top: 20px;">
                        </form>
                    </div>
                </div>
            </div>
        </div>

     <div class="">
                <div class="card">
                  <div class="card-header">
                    <h4>Комментарии</h4>
                  </div>
                  <div class="card-body">
                    <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
                        {% for item in comments %}
                            <li class="media">
                            {% if item.user.avatar %}
                                <img alt="image" class="mr-3 rounded-circle" width="70" src="/media/{{ item.user.avatar }}">
                                {% else %}
                        <img alt="image" class="mr-3 rounded-circle" width="70" src="{% static 'assets/img/avatar/avatar-1.png' %}">
                                {% endif %}
                        <div class="media-body">
                             {% if item.user.pk == user.pk %}
                                 <div class="media-title mb-1"><a href="{% url 'auth:profile' %}">{{ item.user.username }}</a></div>
                            {% else %}
                                 <div class="media-title mb-1"><a href="{% url 'auth:user_profile' item.user.pk %}">{{ item.user.username }}</a></div>
                            {% endif %}
                          <div class="text-time">{{ item.created_at.date }}
                                        в {{ item.created_at.time.hour }}:{{ item.created_at.time.minute }}</div>
                          <div class="media-description text-muted">{{ item.comment_body | safe }}</div>
                          <div class="media-links">
                              <button class="btn btn-link" id="comment-update">Редактировать</button>
                             <div class="card-body" id="comment-div" style="display: none">
                        <form class="form-horizontal " action="{% url 'posts:comment_update' item.pk %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if next %}
                                <input type="hidden" name="next" value="{{ next }}">
                            {% endif %}
                            {{ form.media }}
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-primary" value="Сохранить" style="margin-top: 20px;">
                        </form>
                    </div>
                            <div class="bullet"></div>
                            <a href="{% url 'posts:comment_delete' item.pk %}" class="text-danger">Удалить</a>
                          </div>
                        </div>
                      </li>
                        {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
    </section>
{% endblock %}
{% block ajax %}
    <script src="{% static 'js/addComments.js' %}"></script>
{% endblock %}