{% extends 'mainapp/new_base.html' %}
{% load static %}

{% block content %}
    <section class="section">
        <section class="section"></section>
        <div class="section-header">
            <h1>Ваши хабы для модерации, {% if user.first_name %}
                {{ user.first_name|title }}
            {% else %}
                Пользователь
            {% endif %}</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="{% url 'main' %}">Главная</a></div>
                <div class="breadcrumb-item">Хабы на модерацию</div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Все хабы</h4>
                    </div>
                    <div class="card-body">
                        <div class="float-right">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="clearfix mb-3"></div>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <th>Название</th>
                                    <th>Категория</th>

                                    <th>Дата создания</th>
                                    <th>Статус</th>
                                </tr>
                                {% for item in object_list %}
                                    <tr>
                                        <td>{{ item.title }}
                                            <div class="table-links">
                                                <a href="{% url 'posts:post_detail' item.pk %}">Просмотр</a>
                                                <div class="bullet"></div>
                                                <a href="{% url 'posts:post_delete' item.pk %}" class="text-danger">Удалить</a>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="#">{{ item.category.name }}</a>
                                        </td>

                                        <td>{{ item.created_at }}</td>
                                        <td>
                                            {% if item.status_moderation == "TO" %}
                                                <div class="badge badge-primary">На модерации</div>
                                                {% elif item.status_moderation == "PM" and item.is_published %}
                                                 <div class="badge  badge-success">Опубликован</div>
                                                {% elif item.status_moderation == "BLC" %}
                                                 <div class="badge badge-danger">Заблокирован</div>
                                            {% elif item.status_moderation == "PM" and item.is_published != True %}
                                                <div class="badge badge-light">Не опубликован</div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
