@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

:root {
    --main-nav-color: #102c40;
    --main-background-color: #e7e7e7;
    --main-color-text: #4C5958;
    --main-accent-color: #8AA6A3;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

button, input[type="submit"], input[type="reset"] {
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

html, body {
    height: 100%;
    background-color: var(--main-background-color);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 976px;
    justify-content: space-between;
}

.main-nav {
    background-color: var(--main-nav-color);
    display: flex;
    justify-content: center;
}

.main-nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
}

.main-nav__header a {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
}

.main-nav__block {
    background-color: white;
    display: flex;
    justify-content: center;
}

.main-nav__category {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-categories {
    list-style: none;
    display: flex;
}

.header-categories li {
    font-size: 15px;
    font-weight: normal;
    margin-right: 15px;
}

.header-categories li a {
    color: var(--main-color-text);
}

.header-profile a {
    color: var(--main-color-text);
}

.user-icon {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.profile-menu {
    position: absolute;
    list-style: none;
    width: 300px;
    right: 300px;
    box-shadow: -1px 6px 10px 5px rgba(187, 187, 187, 0.13);
}

.profile-menu li {
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

footer {
    background: var(--main-nav-color);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-container__main {
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

.footer-container__main ul {
    list-style: none;
    text-align: center;
}

.footer-container__main ul li {
    margin: 10px;
}

.footer-container__main ul li a {
    color: white;
    text-decoration: none
}

.footer-header {
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
}

/*Auth Register*/
.main-register {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-register {
    text-align: center;
    background: white;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: -1px 6px 10px 5px rgba(187, 187, 187, 0.13);
    padding: 20px;
    width: 300px;
}

.main-h {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 30px;
}

.form-register p {
    margin-bottom: 15px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.form-register p input {
    min-height: 30px;
    border-radius: 10px;

}

.btn-register {
    background: var(--main-accent-color);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -1px 6px 10px 5px rgba(187, 187, 187, 0.13);

}
.btn-register__sign {
    background: white;
}
.btn-register__sign a{
    text-decoration: none;
}
.form-register__profile{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
}